---
###############################################################################
# Configure Services
###############################################################################

- name: '{{ "Config | filesystem | set " ~ paperless_ngx___app._cfg }}'
  ansible.builtin.template:
    src: '{{ paperless_ngx__cfg._file }}'
    dest: '{{ paperless_ngx___app._cfg }}'
    owner: '{{ paperless_ngx__cfg._uid }}'
    group: '{{ paperless_ngx__cfg._gid }}'
    mode: '0640'
