---
- name: 'Prep'
  ansible.builtin.import_tasks: 'prep.yml'

- name: 'Backup'
  when: paperless_ngx_flg_backup
  ansible.builtin.import_tasks: 'backup.yml'

- name: 'Maintenance'
  when: paperless_ngx_flg_maintenance
  ansible.builtin.import_tasks: 'maintenance.yml'

- name: 'Install'
  when: paperless_ngx_flg_install
  ansible.builtin.import_tasks: 'install.yml'

- name: 'Config'
  when: paperless_ngx_flg_config
  ansible.builtin.import_tasks: 'config.yml'

- name: 'Services'
  when: >
    paperless_ngx_flg_install or
    paperless_ngx_flg_config or
    paperless_ngx_flg_migrate
  ansible.builtin.import_tasks: 'services.yml'

- name: 'Migrate'
  when: paperless_ngx_flg_migrate
  ansible.builtin.import_tasks: 'migrate.yml'

- name: 'Start'
  when: paperless_ngx_flg_start
  ansible.builtin.import_tasks: 'start.yml'
