# https://docs.paperless-ngx.com/configuration/ - ordered by section.
#
# Application default used if not specified. Only valid database options can
# exist for the specified DB engine, otherwise paperless fails to start.
#
# Precedence: config > environment.

{% for header in _paperless_ngx_order %}
# {{ header }}
{%   for section in _paperless_ngx_map | selectattr("value.section", "match", header) | sort(attribute="value.order") %}
{%     if section.value.raw | string | length > 0 and not section.value.deprecated %}
{{ section.value.key }}={{ section.value.raw }}
{%     endif %}
{%   endfor %}
{% endfor %}
