# https://docs.paperless-ngx.com/configuration/ - ordered by section.
#
# Application default used if not specified. Only valid database options can
# exist for the specified DB engine, otherwise paperless fails to start.
#
# Precedence: config > environment.

{% for key, value in _paperless_ngx_config.items() %}
{% if value | length > 0 %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
